<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Report Template</title>
    <style>
        {{{finalcss}}}
    </style>
</head>
<body>
    <img src="https://s3.us-west-1.amazonaws.com/bono-cdn/03/logo.png" alt="BONO Logo" class="logo">
    <h1>{{companyName}}</h1>
    <div class="container">
        <div class="header">
            <h1>{{reportName}}</h1>
            <p><strong>Created By:</strong> {{createdBy}}</p>
            <p><strong>Email:</strong> {{createdByEmail}}</p>
            <p><strong>Date of Creation:</strong> {{dateOfCreation}}</p>
        </div>
        <div class="content">
            <h2>Report Details</h2>
            <div class="detail">
                <p><strong>Report Type:</strong> {{reportType}}</p>
                <p><strong>Report Range:</strong> {{reportRange}}</p>
                <p><strong>Year:</strong> {{year}}</p>
            </div>
            <div class="facility-list">
                <h2>Report Facility List</h2>
                {{#if reportFacilityList}}
                <ul>
                    {{#each reportFacilityList}}
                    <li><strong>{{@key}}:</strong> {{facility.facilityName}}</li>
                    {{/each}}
                </ul>
                {{else}}
                <p>No facilities listed.</p>
                {{/if}}
            </div>
            <div class="graph-list">
                <h2>Graph Data</h2>
                {{#if graphData}}
                {{#each graphData}}
                <div class="graph">
                    <h3>{{graphName}}</h3>
                    <p class="chart-description"><strong>Description:</strong> {{description}}</p>
                    <canvas id="chart-{{id}}"></canvas>
                    <div class="graph-summary">
                        <table>
                            <thead>
                                <tr>
                                    <th>Scope</th>
                                    <th>TonCO2</th>
                                    <th>Percentage</th>
                                </tr>
                            </thead>
                            <tbody>
                                {{#each reportGraphItemList}}
                                <tr>
                                    <td>{{label}}</td>
                                    <td>{{value}}</td>
                                    <td>{{percentage}}%</td>
                                </tr>
                                {{/each}}
                                <tr>
                                    <td><strong>Total</strong></td>
                                    <td><strong>{{calculateTotal reportGraphItemList "value"}}</strong></td>
                                    <td><strong>100%</strong></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
                {{/each}}
                {{else}}
                <p>No graphs available.</p>
                {{/if}}
            </div>
        </div>
        <div class="footer">
            <!-- Add footer content if needed -->
        </div>
    </div>
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function() {
            {{#if graphData}}
            {{#each graphData}}
            var ctx = document.getElementById('chart-{{id}}').getContext('2d');
            var chartType = '{{graphType}}';
            var data = {
                labels: [{{#each reportGraphItemList}}{{#if @first}}"{{label}}"{{else}}, "{{label}}"{{/if}}{{/each}}],
                datasets: [{
                    data: [{{#ifEquals graphType "PIE"}}{{#each reportGraphItemList}}{{#if @first}}{{percentage}}{{else}}, {{percentage}}{{/if}}{{/each}}{{else}}{{#each reportGraphItemList}}{{#if @first}}{{value}}{{else}}, {{value}}{{/if}}{{/each}}{{/ifEquals}}],
                    backgroundColor: [

                        'rgba(95, 53, 239, 1)',   <!-- Purple -->

                        'rgba(255, 159, 64, 1)',  <!-- Orange -->
                        'rgba(86, 180, 0, 1)',    <!-- Green -->
                        'rgba(255, 99, 132, 1)',  <!-- Red -->
 
                    ],
                    borderColor: [
                        'rgba(110, 63, 253, 1)',   <!-- Dark Purple -->
                        'rgba(95, 53, 239, 1)',   <!-- Purple -->
                        'rgba(140, 84, 247, 1)',  <!-- Light Purple -->
                        'rgba(255, 159, 64, 1)',  <!-- Orange -->
                        'rgba(86, 180, 0, 1)',    <!-- Green -->
                        'rgba(255, 99, 132, 1)',  <!-- Red -->
                        'rgba(75, 192, 192, 1)',  <!-- Teal -->
                        'rgba(153, 102, 255, 1)'  <!-- Light Purple -->
                    ],
                    borderWidth: 1
                }]
            };

            var options = {
                responsive: true,
                animation: false,
                tooltips: {
                    filter: function (tooltipItem) {
                        return tooltipItem.datasetIndex !== undefined && tooltipItem.label !== undefined;
                    }
                },
                title: {
                    display: {{#if title}}true{{else}}false{{/if}},
                    text: '{{#if title}}{{title}}{{/if}}'
                },
                plugins: {
                    legend: {
                        position: 'top',
                    },
                    tooltip: {
                        callbacks: {
                            label: function(tooltipItem) {
                                return tooltipItem.label + ': ' + tooltipItem.raw.toFixed(2);
                            }
                        }
                    }
                },
                scales: {
                    y: {
                        beginAtZero: true
                    }
                }
            };

            if (chartType.toLowerCase() === 'pie') {
                delete options.scales;
                data.datasets[0].backgroundColor = [

                    'rgba(95, 53, 239, 1)',   <!-- Purple -->
                  
                    'rgba(86, 180, 0, 1)',    <!-- Green -->
                    'rgba(255, 99, 132, 1)',  <!-- Red -->
                    'rgba(75, 192, 192, 1)',  <!-- Teal -->
                    'rgba(153, 102, 255, 1)'  <!-- Light Purple -->
                ];
                data.datasets[0].borderColor = data.datasets[0].backgroundColor;
                data.datasets[0].backgroundColor = data.datasets[0].backgroundColor.map(color => color.replace('0.2', '1')); // Ensure solid fill
                data.datasets[0].borderColor = data.datasets[0].borderColor.map(color => color.replace('0.2', '1')); // Ensure solid border
            }

            new Chart(ctx, {
                type: chartType.toLowerCase(),
                data: data,
                options: options
            });
            {{/each}}
            {{else}}
            console.log("No graph data available.");
            {{/if}}
        });
    </script>
</body>
</html>
